<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BloodUnity"
        tools:targetApi="31">
        <activity
            android:name=".homepage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".shop" />
        <activity android:name=".ViewUsers" />
        <activity android:name=".register" />
        <activity android:name=".account" />
        <activity android:name=".editPoints" />
        <activity android:name=".adminLock" />
        <activity android:name=".viewBlood" />
        <activity android:name=".deleteBlood" />
        <activity android:name=".addBlood" />
        <activity android:name=".login" />
        <activity android:name=".appointment" />
        <activity android:name=".helpcenter"/>
    </application>

</manifest>